body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1em;
}
   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px black;
    background-color: var(--bs-primary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bs-dark);
    outline: 1px solid var(--bs-dark);
    border-radius: 200px;
}

.fw-normal {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 1000 !important;
}

.font-family-poppins {
    font-size: 0.8em;
    font-family: 'Poppins';
}

.header-container {
    background-image: linear-gradient(to right, #0F1E46, #142F6C);
}

.header-form {
    background-image: url('/resources/img/bg.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.header-video {
    border: 5px solid var(--bs-secondary) !important;
    min-height: 400px;
}

.play-button {
    cursor: pointer;
}

.header-intro, .btn-submit-email, .privacy-policy-link {
    font-weight: 700 !important; 
}

.header-intro {
    text-shadow: 2px 2px 5px black;
}

.btn-submit-email {
    min-width: 75% !important;
}

.privacy-policy-link:hover {
    text-decoration: underline !important;
}

.copyright-text {
    color: #092653 !important;
}